doctype html
html(lang="en")
    head
        include pug/head.pug
    body
        .container-fluid
            .row
                include pug/header.pug
            .row
                include pug/callus.pug
            .row
                include pug/menu.pug
            .row
                include pug/shop1.pug
            .row
                include pug/shop2.pug
            .row
                include pug/mail.pug
            .row
                include pug/blog.pug
            .row
                include pug/footer.pug